#about{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right:var(--aboutPad);
    padding-left: var(--aboutPad);
    max-width:2560px;
}

#pfpCont{
    width:10rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-size: cover;
    overflow: hidden;
    background-color: grey;

}

#pfp{
    object-fit: fill;
    width:100%;
    height:100%;
}

#aboutDescription{
    min-width: fit-content;
    width:95%;
    max-width:1366px;
    text-align: left;
}