#about{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pfpCont{
    width:10rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-size: cover;
    overflow: hidden;
    background-color: aqua;

}

#pfp{
    object-fit: fill;
    width:100%;
    height:100%;
}

#aboutDescription{
    width:95%;
    max-width:1366px;
    border:1px solid black;
    text-align: left;
}