#contact{
    margin-top: 4rem;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contactFormContainer{
    margin-top: 3rem;
    text-align: left;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:90%;


}
.inputField{
    width:20em;
    height:2rem;
    border-radius: var(--corner);
    border:none;
    margin-bottom: 1rem;
    padding:0.5rem;
     box-shadow: 0 1px 6px var(--bd);

}

#submit{
    width:10em;
    border-radius: var(--corner);
    border: none;
    background-color: var(--bg3);
    border:1px solid hsl(42.55,44.72%,60%);
     box-shadow: 0 1px 6px var(--bd);
}

#sendStatus{
    display:none;
}
#sendStatus.sent{
    display:inherit;
}