@font-face {
    font-family: TheSignature;
    src: url(/src/fonts/Thesignature.woff) format('woff');
    src: url(/src/fonts/Thesignature.otf) format('otf');
    src:url(/src/fonts/Thesignature.ttf) format('ttf');
    font-display: swap;
}



#home{
    position:relative;
    width:100%;
    max-width: 100%;
    color:rgb(239, 239, 239);
    padding:0;
}

#imgCont{
    width:100%;
    height:100vh;
}

#backgroundImg{
    object-fit: cover;
    width:100%;
    height:100%;
    filter:brightness(35%);
}

#hero{
    min-width:100%;
    padding-top: 8rem;
    inset:0;
    position:absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;align-items: center;

    top:0%;
}

#heading{
    font-family:'TheSignature';
    font-size:10rem;
    line-height: 0rem;
    color:hsl(42.55,44.72%,60%);
}

#heroDesc{
    line-height:auto;
    
}

#heroButtons{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size:var(--p);
    margin-top:2rem;
}

#heroButtons > a{
    margin: 1rem;
}

#heroButtons button{
    width:10rem;
    padding:1rem 2rem;
    border-radius: var(--corner);
     border:1px solid hsl(42.55,44.72%,60%);
    background-color: var(--bg3);
    margin:0;
}