#projects{
    height:fit-content;
    padding-top:3rem;
    color:var(--text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#projectsContainer{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin:0 auto;
    gap:0.75rem;
}