#references{
    margin-top: 4rem;
    min-width:100%;
    max-width:1366px;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#referencesContainer{
    width:90%;
    height:fit-content;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

#fullscreenPic{
    top:0%;
    left:0%;
    right:0%;
    position:fixed;
    width:auto;
    height:90vh;
    z-index: 10000;
}

#fullscreenPic>img{
    object-fit: contain;
    height:99vh;
    zoom: normal;
        max-width: 99vw;

}