#references{
    margin-top: 4rem;
    min-width:100%;
    max-width:1366px;
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#referencesContainer{
    width:90%;
    height:fit-content;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}