#skills{
    padding-top: 5rem;
    height:100vh;
}

#skillsCont{
    margin:0 auto;
     height:fit-content;
    display: flex;
    flex-wrap: wrap;
    width:50%;
    max-width:768px;
    gap:30px;
    align-items: center;
    justify-content:space-around ;
}

.skillItem{
    background-color: var(--bg1);
    border-radius: var(--corner);
    padding:1rem;
    font-size:1.5rem;
    width:8rem;
    border:2px solid rgb(255, 255, 255);
}