#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height:100vh;
  text-align: center;
  max-width:100vw;
  padding-top:0;
  background-color: var(--bg0);
}

#header{
  position:fixed;
  top:0%;
  left:50%;
  transform:translateX(-50%);
  width:100%;
  max-width: 2560px;
  height:4rem;
  background-color: rgba(205, 205, 205, 0.187);
  backdrop-filter: blur(50px);
  z-index: 9998;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
#navDiv{
  width:50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

#navDiv p a{
  text-decoration: none;
}

#logoCont{
  height:100%;
  aspect-ratio: 1;
  overflow: hidden;

  
}
#logo{
  object-fit: contain;
  width:100%;
  height:100%;
}
.navLink{
  text-decoration: none;
  color:var(--text);
}

#menuButton{
  display:none;
}

@media (width<1024px) {
  #navDiv{
    position:fixed;
    display:none;
    z-index: 9999;
    top: 4rem;
    width:100%;
    height:100vh;
    flex-direction: column;
    justify-content: center;
    background-color: hsla(0, 0%, 20%, 0);
    transition: background-color 1.0s ease;

    

    
  }
  #navDiv.open{
    display:inherit;
    background-color:hsla(0, 0%, 20%, 0.926);;

  }
  #header{
    justify-content: center;
  }
  .navLink{
    color:whitesmoke;
  }
  #menuButton{
    display:block;
    display:inherit;
    position:absolute;
    left:1rem;
    color:white;
   
  }
  #skillsCont{
    width:90%;
  }
}


h1, h2, p {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

