#root {
  min-height:100vh;
  text-align: center;
  max-width:100vw;
  padding-top:0;
  background-color: var(--bg0);
}

#header{
    position:fixed;
  top:0%;
  width:100vw;
  height:4rem;
  background-color: rgba(205, 205, 205, 0.187);
  backdrop-filter: blur(50px);
  z-index: 9999;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
#navDiv{
  width:50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#navDiv p a{
  text-decoration: none;
}