:root {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  color-scheme: light dark;
  /*color: rgba(255, 255, 255, 0.87);*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(42.55,44.72%,90%);

  --bg1: hsl(0, 0%, 98%);
  --bg2:hsl(0, 0%, 100%);
  --bg3:hsl(42.55,44.72%,80%);

  
  color:var(--text);

  --secondary:hsl(42.55,44.72%,60%);


  --text:rgb(24, 24, 24);
  --insignificant:hsl(0, 0%, 30%);

  --pLineHeight:0.125rem;
  --corner:10px;

  --p:1rem;
}
html,body{
  margin:0 auto;
}
