:root {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  color-scheme: light dark;
  /*color: rgba(255, 255, 255, 0.87);*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --bg0:hsl(42.55,44.72%,90%);;
  --bg1: hsl(0, 0%, 98%);
  --bg2:hsl(0, 0%, 100%);
  --bg3:hsl(42.55,44.72%,80%);

  
  color:var(--text);

  --secondary:hsl(42.55,44.72%,60%);


  --text:rgb(24, 24, 24);
  --insignificant:hsl(0, 0%, 30%);

  --corner:10px;

  --h1:3rem;
  --h1L:0.33rem;
  --h2:2rem;
  --h2L:0.4rem;
  --p:1.125rem/0.8rem;

  ---ptop:3rem;
}
html,body{
  margin:0 auto;
}

.topic{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
  font-size: var(--h1);
}
h2{
  font-size: var(--h2);
}
p{
  font-size: var(--p);
}

@media (width<768px){
  :root{
    --h1:2.75rem !important;
    --h2:0.75rem !important;
    --p:1rem/1rem !important;
  }
}